.wrap{
    display: flex;
    align-items: center;
    .header__btn{
        width: 135px;
        height: 46px;
        background: rgba(226, 30, 50, 1);
        color: #fff;
        border-radius: 4px;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }
    .social{
        display: flex;
        &__item{
            margin-right: 30px;
        }
    }
}