<div class="wrap">

   

    <div class="social">
        <a class="social__item" href=""><img src="../../../../../assets/img/social/face.png" alt=""></a> 
        <a class="social__item" href=""><img src="../../../../../assets/img/social/inst.png" alt=""></a> 
        <a class="social__item" href=""><img src="../../../../../assets/img/social/vk.png" alt=""></a> 
        <a class="social__item" href=""><img src="../../../../../assets/img/social/youtube.png" alt=""></a> 

    </div>

     <a  class="header__btn" href="">заказать</a>

</div>