<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="description">
                <h6 class="description__title">Минивен</h6>
                <div class="description__peoples"><img src="../../../../assets/img/user-24.png" alt=""> до 6 человек</div>
                <p class="description__car">Toyota Alphard</p>
            </div>
            <div class="photo"><img src="../../../../assets/img/minibus.png" alt=""></div>
        </div>
        <div class="col-8">
            <ul>
                 <li>
                        <div class="wrap">
                    <div class="direction">
                        <h6 class="direction__from">{{PortFrom}}</h6>
                        <img class="direction__arow" src="../../../../assets/img/Vector.png" alt="">
                        <h6 class="direction__to">{{PortTo}}</h6>
                    </div>
                    <div class="price">
                        <p class="price__amd">{{ticketPrice}} AMD</p>
                        <p class="price__ru">{{ticketPriceRus}} руб</p>
                    </div>
                    <a  class="header__btn" routerLink="">заказать</a>
                    
                    </div>
                    <hr> 
                </li>
                
            </ul>
            <a class="all__arow" routerLink="">Смотреть все нгаправления</a>
        </div>
        
       
    </div>
    
</div>
 

 <!-- *ngFor="let tick of ticket" {{tick}} -->


