
<div class="wrap__container">
     <app-header-home></app-header-home>
    <div class="container">
       
        <h1 class="title">Экскурсии и туры по Армении</h1>
        <p class="sabtitle">Всем любителям уникальной архитектуры, красочной природы и яркой истории предлагаю путешествия по Армении на авто!</p>
        
        <div class="row">
            <div class="col">
                <h5>Многодневные туры</h5>
                 <ul>
                    <li><a routerLink="">от 3 до 9 дней </a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Однодневные экскурсии</h5>
                <ul>
                    <li><a routerLink="">из Еревана, Цахкадзора и Дилижана</a></li>                  
                </ul>

            </div>
            <div class="col">
                <h5>Трансфер</h5>
                <ul>
                    <li><a routerLink="">из Еревана, Цахкадзора и Дилижана</a></li>                 
                </ul>
            </div>
            
        </div>

    </div>
</div>
