<span>Типографика</span> <span>Автокомплит</span>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="wrap">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input
              list="myINPUT"
              placeholder="Movie"
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
            <datalist id="myINPUT">
              <option>Список городов</option>
            </datalist>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input
              list="myINPUT"
              placeholder="Movie"
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
            <datalist id="myINPUT">
              <option>Список городов</option>
            </datalist>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input
              list="myINPUT"
              placeholder="Movie"
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
            <datalist id="myINPUT">
              <option>Список городов</option>
            </datalist>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input
              list="myINPUT"
              placeholder="Movie"
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
            <datalist id="myINPUT">
              <option>Список городов</option>
            </datalist>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="wrap__btn">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input
              list="myINPUT"
              placeholder="Movie"
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
            <datalist id="myINPUT">
              <option>Список городов</option>
            </datalist>
          </div>
        </div>
        <a class="btn" routerLink="">заказать</a>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input
            list="myINPUT"
            placeholder="Movie"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
          <datalist id="myINPUT">
            <option>Список городов</option>
          </datalist>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input
            list="myINPUT"
            placeholder="Movie"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
          <datalist id="myINPUT">
            <option>Список городов</option>
          </datalist>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input
            list="myINPUT"
            placeholder="Movie"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
          <datalist id="myINPUT">
            <option>Список городов</option>
          </datalist>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input
            list="myINPUT"
            placeholder="Movie"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
          <datalist id="myINPUT">
            <option>Список городов</option>
          </datalist>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input
            list="myINPUT"
            placeholder="Movie"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
          <datalist id="myINPUT">
            <option>Список городов</option>
          </datalist>
        </div>
      </div>
      <div class="wrap__seat">
        <div class="seat"><strong>ДО 4</strong></div>
        <div class="seat"><strong>ДО 6</strong></div>
        <div class="seat"><strong>ДО 12</strong></div>
        <div class="seat"><strong>ДО 18</strong></div>
      </div>
      
    </div>
  </div>
</div>
